body {
    background-color: #ffe2d2;
    /* padding: 0; */
    margin:0;
    min-width: 830px;
}

#headerBase{
    background-color: #d87746;
    margin-bottom: 30px;

    /* padding-bottom: 10px; */

    display: grid;
    grid-template-columns: 30% 70%;
}

#agrupBotonesHeader{
    display: flex;
    flex-direction: row;
    flex:1;
    gap: 10px;
    padding: 15px;
}
#TituloPagina{
    text-align: right;
    color:#fff4ee;
    margin-right: 2vw;
    font-size: 50px;
    padding: 3px;
}

.botonHeader{
    display: flex;
    flex:1;
    text-align: center;
    justify-content: center; 
    align-items: center;
    border-radius: 20px;

    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;

    background-color:#fff4ee;
    border: solid 2px #7a4420;
    color:#d87746;
    padding: 20px;
}

.botonesDetalles{
    display: inline-block;
    
    width: 175px;

    text-decoration: none;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    background-color:white;
    border: solid 2px #7a4420;
    border-radius: 12px;
    color:black;
    padding: 20px;
}

#Lib_novedosos{
    display: flex;
    gap: 40px;
    justify-content: center;

    padding: 20px;

    background-color: rgb(164, 164, 227);

    border-style: solid;
    border-color: #965538;
    border-width: 2px;
    border-radius: 4px;
}

.muestraLibros{
    width: 180px;
    height: 380px;
    margin: 5px; 
    padding: 8px;
    display: grid; /* Para centrar el número */
    grid-template-rows: 70% 30%;

    border-radius: 15px;
    background-color: #fff4ee;
    border: solid 2px #965538 ;
    /*padding: 10px;*/
    margin-bottom: 15px;
    text-decoration: none;
}

.botAutor{
    padding: 15px 15px;
    border: none;
    text-align: center;
    background-color: #ffe2d2;
    border-bottom: 1px solid #c0a390;
    width: 100%;
    display:block;
    text-decoration: none;
    color: #d87746;
         
}

.botAutor:hover{
    background-color: #ffc8aa;
}

.agrupadorAutores{
    border-right: 2px solid #965538;
    display: block;       
}
.autorespagina{
    display: grid;
    grid-template-columns: 25% 75%;
    padding-left: 0px;
}
#autorTexto{
    padding-left: 10px;
    font-size: 25px;
    width: 25%;
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
}

.muestra_libros_detalles{
    /* width: 320px;
    height: 460px;
    margin: 5px;
    padding: 3px; 
    border: solid 2px #965538;
    border-radius: 4px; */
    
    background-color: #fff4ee;

    width: 300px; 
    height: 450px;
    border: solid 2px #93684a;

    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
}

#detalles_mainDIV{
    display: flex; 
    justify-content: center;
    font-size: 18px; 
    margin-left: 150px; 
    margin-right: 150px;
    gap: 15px;
}

.fondo_libros{
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: center;
    object-fit: cover;
    border: 1px solid #d7c6bb;
}

.libros_letras{
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 3px;

    /* border: 2px solid black; */
}

main{
    padding: 25px;
    padding-top: 0px;
}

.titulos_h2{
    text-align: center;
    color: #884111;
}

.div_ListaLibros {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 35px; 
    padding: 10px;
    /* border: solid 2px #513896 ; */
}
.centradoEnMedio{
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
}

.datosLibro {
    justify-content: center;
    align-items: center;

    padding-top: 0px;
    list-style-type: none;

    padding-left: 2px;
    margin-right: 2px;
    color:#1a0d07;
    width: 100%;
   
    /* border: 2px solid rgb(255, 242, 0); */
}
.datosLibro li {
    margin: 5px;
    text-decoration: none;
    /* border: 2px solid rgb(9, 255, 0); */
}
#Dprecio{
    color: #8d3800;
    font-size: 20px;
    text-align: center;
}
#Dtitulo{
    text-decoration: none;
    font-size: 17px;
}
#inputPrecio{
    width: 70px;
    padding: 6px 6px;
    border: 1px solid #7a4420;
    border-radius: 5px;
}
#formPrecio{
    border-top: 1px solid #c0a390;
    border-bottom: 1px solid #c0a390;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding: 10px 10px;
    margin: 30px 30px;
    
}
#buttonPrecio{
    background-color: #884111;
    color:white;
    border: 1px solid #884111;
    padding: 12px 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}
#buttonRefrescar{
    background-color: #fbede3;
    color:#2e1708;
    border: 1px solid #884111;
    padding: 12px 12px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}

.elegirGenero{
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.eleccionGenero{
    border: solid 1px #c0a390;
    border-radius: 5px;
    display: flex;
    flex:1;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 15px 15px;
    color:#1a0d07;
    text-decoration: none;
    font-size: 16px;
}

.carrito-contenedor {
    width: 60%;
    margin: 0 auto;
}


.titulo-carrito {
    font-size: 24px;
    margin-bottom: 10px;
}


.carrito-lista {
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #e07b4a;
    padding: 10px;
}


.carrito-item {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #e07b4a;
    padding: 8px 0;
}


.carrito-imagen {
    width: 70px;      
    height: 100px;    
    object-fit: cover; 
    border-radius: 5px;
}


.carrito-total {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}


.btn-comprar {
    margin-top: 10px;
    padding: 8px 12px;
    border: 1px solid #000;
    background: white;
    cursor: pointer;
}


/* --------------------------- Inicio.html -----------------------*/

#inicioOrden{
    display: grid;
    grid-template-columns: 50% 50%;
}

.area-izquierda {
    /* ../static/imgs/Papirium_LogoCuad.png */
    background-image: url('../imgs/Papirium_LogoCuad.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
#inicioDatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px
}
#inTit{
    font-size: 70px;
    color: #fdddc7;
}
.inBoton{
    text-decoration: none;
    height: 70px;
    width: 100px;

    padding: 70px;
    padding: 50px 50px;

    background-color: white;
    border: 1px solid #51290e;
    border-radius: 15px;
    color: #2e1708;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#inAgrupBotones{
    display: flex; 
    gap: 4vw;
    align-items: center;
    justify-content: center;
    text-align: center;


}
@media (max-width: 1100px) {
    .area-izquierda {
        background-image: url('../imgs/PaprirumSuperTxiki.png'); 
        transition: 0.3s;
    }
    .inBoton{
        padding: 50px;
        padding: 30px 30px;
        transition: 0.3s;
    }
    
}
@media (min-width: 1100px) {
    .area-izquierda {
        background-image: url('../imgs/Papirium_LogoCuad.png'); 
        transition: 0.3s;
    }
    .inBoton{
        padding: 70px;
        padding: 50px 50px;
        transition: 0.3s;
    }
    
}