body {
    background-color: #ffe2d2;
    /* padding: 0; */
    margin:0;
    min-width: 830px;
}

#headerBase{
    background-color: #d87746;
    margin-bottom: 30px;

    /* padding-bottom: 10px; */

    display: grid;
    grid-template-columns: 30% 70%;
}

#agrupBotonesHeader{
    display: flex;
    flex-direction: row;
    flex:1;
    gap: 10px;
    padding: 15px;
    /* border: solid 2px blue; */
}
#TituloPagina{
    text-align: right;
    /* background-color: rgba(214, 230, 255, 0.655); */
    color:#fff4ee;
     margin-right: 2vw;
    /*margin-left: 50vw;
    border-radius: 10px; */
    font-size: 50px;
    padding: 3px;
    /* border: solid 2px blue; */
}

.botonHeader{
    display: flex;
    flex:1;
    text-align: center;
    justify-content: center; 
    align-items: center;
    border-radius: 20px;

    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;

    /* color:#fff4ee;
    background-color: #d49575; */
    background-color:#fff4ee;
    border: solid 2px #7a4420;
    color:#d87746;
    padding: 20px;
}

.muestraLibros{
    width: 180px;
    height: 290px;
    margin: 5px; 
    
    display: flex; /* Para centrar el número */
    justify-content: left;
    align-items: center;

    border-radius: 15px;
    text-align: left;
    text-decoration: none;
    font-weight: normal;

    background-color: #fff4ee;
    border: solid 2px #965538 ;
    padding: 10px;
    margin-bottom: 15px;
}

main{
    padding: 25px;
    padding-top: 0px;
}

.main_ListaLibros {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 35px; 
    padding: 10px;
    /* border: solid 2px #513896 ; */
}
.centradoEnMedio{
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
}

.divDatosLibro{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
    /* border: 1px solid green; */
}
.datosLibro ul{
    list-style-type: none;
    padding-left: 5px;
    /* border: 2px solid blue; */

}
.datosLibro li{
    margin: 5px;
}

.elegirGenero{
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.eleccionGenero{
    border: solid 1px #c0a390;
    border-radius: 5px;
    display: flex;
    flex:1;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 15px 15px;
    color:#1a0d07;
    text-decoration: none;
    font-size: 16px;
}