body {
    background-color: #ffe2d2;
    /* padding: 0; */
    margin:0;
    min-width: 830px;
}

#headerBase{
    background-color: #d87746;
    margin-bottom: 30px;

    /* padding-bottom: 10px; */

    display: grid;
    grid-template-columns: 30% 70%;
}

#agrupBotonesHeader{
    display: flex;
    flex-direction: row;
    flex:1;
    gap: 10px;
    padding: 15px;
}
#TituloPagina{
    text-align: right;
    color:#fff4ee;
    margin-right: 2vw;
    font-size: 50px;
    padding: 3px;
}

.botonHeader{
    display: flex;
    flex:1;
    text-align: center;
    justify-content: center; 
    align-items: center;
    border-radius: 20px;

    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;

    background-color:#fff4ee;
    border: solid 2px #7a4420;
    color:#d87746;
    padding: 20px;
}

.muestraLibros{
    width: 180px;
    height: 380px;
    margin: 5px; 
    padding: 8px;
    display: grid; /* Para centrar el número */
    grid-template-rows: 70% 30%;

    border-radius: 15px;
    background-color: #fff4ee;
    border: solid 2px #965538 ;
    /*padding: 10px;*/
    margin-bottom: 15px;
    text-decoration: none;
}

.fondo_libros{
    width: auto;
    height: auto;
    justify-content: left;
    align-items: center;
    
    background-size: cover; 
}

.libros_letras{
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 3px;

    /* border: 2px solid black; */
}

main{
    padding: 25px;
    padding-top: 0px;
}

.titulos_h2{
    text-align: center;
    color: #884111;
}

.div_ListaLibros {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    gap: 35px; 
    padding: 10px;
    /* border: solid 2px #513896 ; */
}
.centradoEnMedio{
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center;
}

.divDatosLibro{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
    border: 1px solid green;
}
.datosLibro {
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    list-style-type: none;
    padding-left: 2px;
    margin-right: 2px;
    color:#1a0d07;
    width: 100%;
   
    /* border: 2px solid rgb(255, 242, 0); */
}
.datosLibro li {
    margin: 5px;
    text-decoration: none;
    /* border: 2px solid rgb(9, 255, 0); */
}
#Dprecio{
    color: #8d3800;
    font-size: 20px;
    text-align: center;
}
#Dprecio{
    color: #8d3800;
    font-size: 20px;
    text-align: center;
}

.elegirGenero{
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.eleccionGenero{
    border: solid 1px #c0a390;
    border-radius: 5px;
    display: flex;
    flex:1;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 15px 15px;
    color:#1a0d07;
    text-decoration: none;
    font-size: 16px;
}