{% extends "base.html"%}
{% block titleXD %}Autores{% endblock %}
{%block main%}

<h2 id="autorTexto">Seleccione el autor:</h2>
<main class="autorespagina">
    
    <aside class="agrupadorAutores">
        {%for autor in autores%}
        <a href="{% url 'busqueda_autores' %}?autor_seleccionado={{ autor.id }}" 
           class="botAutor">
            {{ autor.nombre }}
        </a>
        {% endfor %}
    </aside>

    <div class="div_ListaLibros">
        {% for libro in libros %}
            {% if libro.imagen %}
            <div class="muestraLibros">
                <a href="{% url 'detalleLibro' libro.isbn %}">
                    <img class="fondo_libros" src="{{libro.imagen.url}}" alt="Sin imagen">
                </a>
                <div class="libros_letras">
                    <ul class="datosLibro">
                        <li><a class="Dtitulo" href="{% url 'detalleLibro' libro.isbn %}">
                            <span class="datosLibro" >
                                <strong>{{libro.titulo}}</strong> 
                            </span>
                        </a></li>
                        <li class="datosLibro"> {{libro.autor}} </li>
                        <li class="datosLibro Dprecio"> <strong>{{libro.precio}} €</strong></li>
                    </ul>  
                </div>
            </div>

            {% else %}
            <div class="muestraLibros">
                <a href="{% url 'detalleLibro' libro.isbn %}">
                    <div>   
                        <p>Sin imagen</p>             
                    </div>
                </a>
                <div class="libros_letras">
                    <ul class="datosLibro">
                        <li><a class="Dtitulo" href="{% url 'detalleLibro' libro.isbn %}">
                            <span class="datosLibro" >
                                <strong>{{libro.titulo}}</strong> 
                            </span>
                        </a></li>
                        <li class="datosLibro"> {{libro.autor}} </li>
                        <li class="datosLibro Dprecio"> <strong>{{libro.precio}} €</strong></li>
                    </ul>  
                </div>
            </div>
            {% endif %}
        {% endfor %} 
    </div> 


</main>
<script>
    const botonesAutores = document.getElementsByClassName("botAutor");
    for (let i = 0; i < botonesAutores.length; i++) {   
        botonesAutores[i].addEventListener("mousemove", function() {
            this.style.backgroundColor = "#e1c2b1";
        });
        botonesAutores[i].addEventListener("mouseout", function() {
            this.style.backgroundColor = "#ffe2d2";
        });
        botonesAutores[i].addEventListener("click",function(){
            const nombreAutor=this.textContent.trim();/* Toma el nombre del autor con textContent visto en clase*/
            alert("Has seleccionado a " + nombreAutor )

        });    
    }
    

</script>
{%endblock%}