
{% load static %}
<head>
    <!--<link rel="stylesheet" href="">-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!--esta linea para probar sin dajngo -->
</head>
<body>
    <header id="headerBotones">
        <h1 id="h1Titulo">{% block title %}Titulo de base{% endblock %}</h1>
        
        <div id="agrupadorBotones">  <!--los "view1" hay que cambiarlos -->
            <a class="divBotones" href="{% url 'antiguedad' %}"> 
                <div class="contBoton">
                    Página Principal
                </div>
            </a>
            <!--href=" url 'genero' Historico "-->
            <a class="divBotones" > 
                <div class="contBoton">
                    Busqueda por genero
                </div>
            </a>
            <!--href=" url 'precio' 20.95l"-->
            <a class="divBotones"> 
                <div class="contBoton">
                    Ofertas<!-- "Ofertas"= view de precio<25  -->
                </div>
            </a>
        </div>
    </header>
    <div id="content">
        {% block content %}Lo que hay por defecto{% endblock %}
    </div>
</body>