
<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>    
    <header id="headerBase">
        <aside style="background-color: green;">
            <!-- meter imagen -->
        </aside>
        <section>
            <h1 id="TituloPagina">
                {% block titleXD %}Titulo de base{% endblock %}
            </h1>
            
            <div id="agrupBotonesHeader">  
                <a class="botonHeader" href="{% url 'antiguedad' %}"> 
                    <div > Página Principal</div>
                </a>
                <a class="botonHeader" href="{% url 'antiguedad' %}"> 
                    <div>Generos</div>
                </a>
                <a class="botonHeader" href="{% url 'antiguedad' %}"> 
                    <div >Autores</div>
                </a>
                <a class="botonHeader" href="{% url 'antiguedad' %}"> 
                    <div >Precios</div>
                </a>
                <a class="botonHeader" href="{% url 'antiguedad' %}"> 
                    <div >Cuenta </div>
                </a>
            </div>
        </section>
      
    </header>

    {% block main %}

    {% endblock %}
</body>
</html>
