{% extends "base.html"%}
{% block titleXD %}Carrito{%endblock%}
{%block main%}
<main>
    <div >
        <h3>Cambiar contraseña</h3>
    
        <form method="post" action="{% url 'actualizar_contraseña' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Actualizar contraseña</button>
        </form>

        <h3>Cerrar sesion</h3>

        <form method="post" action="{% url 'logOut' %}">
            {% csrf_token %}
            <button type="submit">Cerrar sesion</button>
        </form>
    </div>
    <h2>Carrito de {{usuario.username}}</h2>
    <div class="carrito-contenedor">

        <div class="carrito-lista">
            {% if carrito.items.all %}
                {% for item in carrito.items.all %}
                <div class="carrito-item">
    
                    <img class="carrito-imagen" 
                         src="{{ item.libro.imagen.url }}" 
                         alt="{{ item.libro.titulo }}">
    
                    <div class="carrito-info">
                        <h3>{{ item.libro.titulo }}</h3>
                        <p>Autor: {{ item.libro.autor.nombre }}</p>
                        <p class="precio">Precio: {{ item.libro.precio }} €</p>
                        <p>Cantidad: {{ item.cantidad }}</p>
                    </div>
    
                </div>
                {% endfor %}
            {% else %}
                <p>No tienes libros en el carrito.</p>
            {% endif %}
        </div>
        <h3>Precio Total: {{carrito.total}} €</h3>
        <form id="botonComprar" action="{%url 'comprar'%}" method="post">
            {%csrf_token%}
            <button type="submit">comprar</button>
        </form>
        <script>
            const formCompra= document.getElementById("botonComprar");
            formCompra.addEventListener("submit",function(){
                alert("Gracias por comprar en Papirium ;)")

            })

        </script>
</main>

{%endblock%}

