{% extends "base.html" %}
{% block titleXD %} Detalles {% endblock %}
{% block main %}
    {% if libro.imagen %}<!--Aqui puedo usar la forma esa de utilizar "for" para mostrar todos los atributos de algo que le pases-->
        <ul>
            <li><strong>Titulo: </strong> {{libro.titulo}}</li>
            <li><strong>Precio: </strong> {{libro.precio}}</li>
            <li><strong>Num paginas: </strong> {{libro.num_paginas}}</li>
            <li><strong>Autor: </strong> {{libro.autor}}</li>
            <li><strong>Stock: </strong> {{libro.stock}}</li>
            <h3>Descripción:</h3>
            <p>{{libro.descripcion}}</p>
        </ul>
        <img src="{{libro.imagen.url}}" 
        alt="No hay foto del libro en este momento"><!--Le pasamos la URL del libro en cuestion-->
    {% else %}
        <ul>
            <li><strong>Titulo: </strong> {{libro.titulo}}</li>
            <li><strong>Precio: </strong> {{libro.precio}}</li>
            <li><strong>Num paginas: </strong> {{libro.num_paginas}}</li>
            <li><strong>Autor: </strong> {{libro.autor}}</li>
            <li><strong>Stock: </strong> {{libro.stock}}</li>
            <h3>Descripción:</h3>
            <p>{{libro.descripcion}}</p>
        </ul>
    {% endif %}
{% endblock %}