{% extends "base.html" %}
{% block titleXD %}Géneros{% endblock %}

{% block main %}
    <main>
        <nav class="elegirGenero">
            <a id="bA" href="{% url 'genA' %}" class="eleccionGenero">
                <div>Accion</div>
            </a>
            <a id="bR" 
            href="{% url 'genR' %}" class="eleccionGenero">
                <div>Romance</div>
            </a>
            <a  id="bF"
            href="{% url 'genF' %}" class="eleccionGenero">
                <div>Fantasia </div>
            </a>
            <a  id="bH"
            href="{% url 'genH' %}" class="eleccionGenero">
                <div> Historia</div>
            </a>
        </nav>

        <h3 >
            A continuación se muestran los libros de {{Genero}}:
        </h3>
         
        <article class="div_ListaLibros">
        {% for libro in Libros %}
            {% if libro.imagen %}
            <div class="muestraLibros">
                <a href="{% url 'detalleLibro' libro.isbn %}">
                    <img class="fondo_libros" src="{{libro.imagen.url}}" alt="Sin imagen">
                </a>
                <section class="libros_letras">
                    <ul class="datosLibro">
                        <a id="Dtitulo" href="{% url 'detalleLibro' libro.isbn %}">
                            <li class="datosLibro" >
                                <strong>{{libro.titulo}}</strong> 
                            </li>
                        </a>
                        <li class="datosLibro"> {{libro.autor}} </li>
                        <li class="datosLibro" id="Dprecio"> <strong>{{libro.precio}} €</strong></li>
                    </ul>  
                </section>
            </div>

            {% else %}
            <div class="muestraLibros">
                <a href="{% url 'detalleLibro' libro.isbn %}">
                    <div>   
                        <p>Sin imagen</p>             
                    </div>
                </a>
                <section class="libros_letras">
                    <ul class="datosLibro">
                        <a id="Dtitulo" href="{% url 'detalleLibro' libro.isbn %}">
                            <li class="datosLibro" >
                                <strong>{{libro.titulo}}</strong> 
                            </li>
                        </a>
                        <li class="datosLibro"> {{libro.autor}} </li>
                        <li class="datosLibro" id="Dprecio"> <strong>{{libro.precio}} €</strong></li>
                    </ul>  
                </section>
            </div>
            {% endif %}
        {% endfor %} 
        </article> 

    </main>

    <script>
        const listGeneros = document.getElementsByClassName("eleccionGenero");
        
        let btnA = document.getElementById("bA")
        let btnR =  document.getElementById("bR")
        let btnF = document.getElementById("bF")
        let btnH =  document.getElementById("bH")


        btnA.addEventListener('mousemove', function(event){
            btnA.style.backgroundColor="#e1c2b1";
        });
        btnA.addEventListener('mouseout', function(event){
            btnA.style.backgroundColor="#ffe2d2";
        });
        btnA.addEventListener('click', function(event){
            alert("Prepárate para los libros Accion!")
        });
        
        btnR.addEventListener('mousemove', function(event){
            btnR.style.backgroundColor="#cbaf9f";
        });
        btnR.addEventListener('mouseout', function(event){
            btnR.style.backgroundColor="#ffe2d2";
        });
        btnR.addEventListener('click', function(event){
            alert("Escoge entre estas historias que van directa el corazón!")
        });
        
        btnF.addEventListener('mousemove', function(event){
            btnF.style.backgroundColor="#b49b8e";
        });
        btnF.addEventListener('mouseout', function(event){
            btnF.style.backgroundColor="#ffe2d2";
        });
        btnF.addEventListener('click', function(event){
            alert("Embárcate en los mundos de los libros de Fantasía!")
        });
        
        btnH.addEventListener('mousemove', function(event){
            btnH.style.backgroundColor="#9e887c";
        });
        btnH.addEventListener('mouseout', function(event){
            btnH.style.backgroundColor="#ffe2d2";
        });
        btnH.addEventListener('click', function(event){
            alert("Bienvenido a los libros de historia!")
        });

    </script>

{% endblock %}