{% extends "base.html" %}
{% block titleXD %}Géneros{% endblock %}

{% block main %}
    
    <h2 style="margin: 20px;">A continuación se muestran los libros de tu genero deseado:</h2>
    <main class="main_ListaLibros">
    {% for libro in Libros %}
        <div class="muestraLibros">
            <ul>
                <li> {{libro.titulo}} </li>
                <li> {{libro.autor}} </li>
                <li> {{libro.precio}} </li>
            </ul>
        </div>   
    {% endfor %} 
    </main>
{% endblock %}