{% extends "base.html" %}
{% block titleXD %}Home{% endblock %}

{% block main %}
    <main class="main_ListaLibros">
    {% for libro in Libros %}
        {% if libro.imagen %}<!--If hace que si no hay imagen no de error y simplemente aparezca normal, sin fondo-->
            <div class="muestraLibros" style="background-image: url('{{libro.imagen.url}}'); background-size: cover;"><!--Le pasamos la url de la imagen-->
                <ul>
        
                    <li> {{libro.titulo}} </li>
                    <li> {{libro.autor}} </li>
                    <li> {{libro.precio}} Euros</li>
                </ul>
            </div>   
        {% else %}
            <div class="muestraLibros">
                <p>Aun sin imagen</p>
                <ul>
                    
                    <li> {{libro.titulo}} </li>
                    <li> {{libro.autor}} </li>
                    <li> {{libro.precio}} Euros</li>
                </ul>
            </div>   
        {% endif %}
    {% endfor %} 
    </main>
{% endblock %}