{% extends "base.html" %}
{% block titleXD %}Home{% endblock %}

{% block main %}
    <main>
        <h2 class="titulos_h2">Algunos libros de nuestra colección:</h2>
        </br>
        <article class="div_ListaLibros">
            {% for libro in Libros %}
                {% if libro.imagen %}
                <a class="muestraLibros" href="{% url 'detalleLibro' libro.isbn %}">
                    <div class="fondo_libros"
                    style="background-image: url('{{libro.imagen.url}}');
                    border: 1px solid #c1ab9c;"> 
                    </div>
               
                    <div class="libros_letras">
                        <ul class="datosLibro">
                            <li class="datosLibro" id="Dtituto"> <strong>{{libro.titulo}}</strong> </li>
                            <li class="datosLibro" id="Dautor"> {{libro.autor}} </li>
                            <li class="datosLibro" id="Dprecio"> <strong>{{libro.precio}} €</strong></li>
                        </ul>  
                    </div>
                </a>
                {% else %}
                <div class="muestraLibros">
                    <a href="{% url 'detalleLibro' libro.isbn %}">
                        <div>   
                            <p>Sin imagen</p>             
                        </div>
                    </a>
                    <div class="libros_letras">
                        <ul class="datosLibro">
                            <li class="datosLibro"> <strong>{{libro.titulo}}</strong> </li>
                            <li class="datosLibro"> {{libro.autor}} </li>
                            <li class="datosLibro" id="Dprecio"> <strong>{{libro.precio}} €</strong></li>
                        </ul>  
                    </div>
                </div>
                {% endif %}
            {% endfor %} 
            </article> 
    </main>
{% endblock %}