<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papirirum.com</title>
</head>
<body id="inicioOrden">
    <nav class="area-izquierda" style="background-color: #ffd0b0;">
        <!-- <img src="../static/imgs/Papirium_LogoCuad.png" alt="Sin imagen"> -->
    </nav>
    <section id="inicioDatos" style="background-color:#cc7234">
        <h1 id="inTit"> <strong>¡Bienvenido!</strong></h1>
        <span style="display: flex; gap: 4vw">
            <a class="inBoton" href="{% url 'registrarUsuario' %}">
                <div>Registrarse</div>
            </a>
            <a class="inBoton" href="{% url 'LogIn' %}">
                <div>Iniciar Sesión</div>
            </a>
        </span>
    </section>
    <script>
        const botones = document.getElementsByClassName("inBoton");
        const botR=botones[0]
        const botI=botones[1]

        botR.addEventListener('mousemove', function(event){
            botR.style.padding="75px"
            botR.style.color="#ad4804"
            botR.style.padding="55px 55px"
            botR.style.transition="0.3s"
            botI.style.padding="70px"
            botI.style.padding="50px 50px"
            botI.style.transition="0.3s"
        });
        botR.addEventListener('mouseout', function(event){
            botR.style.padding="70px"
            botR.style.color="#2e1708"
            botR.style.padding="50px 50px"
            botR.style.transition="0.3s"
            botI.style.padding="70px"
            botI.style.padding="50px 50px"
            botI.style.transition="0.3s"
        });
        botI.addEventListener('mousemove', function(event){
            botI.style.padding="75px"
            botI.style.color="#ad4804"
            botI.style.padding="55px 55px"
            botI.style.transition="0.3s"
            botR.style.padding="70px"
            botR.style.padding="50px 50px"
            botR.style.transition="0.3s"
        });
        botI.addEventListener('mouseout', function(event){
            botI.style.padding="70px"
            botI.style.color="#2e1708"
            
            botI.style.padding="50px 50px"
            botI.style.transition="0.3s"
            botR.style.padding="70px"
            botR.style.padding="50px 50px"
            botR.style.transition="0.3s"
        });
    </script>
</body>
</html>