<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>    
    <header id="headerBase">
        <aside class="centradoEnMedio" >
            <img src="{% static 'imgs/Papirium_LogoCuadTxiki.png' %}" alt="Logo"
            height=220 width=220>
        </aside>
        <section>
            <h1 id="TituloPagina">
               {% block titleXD %} <b>Log In </b>{% endblock %} 
            </h1>
            <article>
                <form method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit">Iniciar sesion</button>
                </form>
            </article>
            


        </section>
    </header>

    {% block main %}
    {% endblock %}

</body>
</html>