<!DOCTYPE html>
<html lang="es">
{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>    
    <header id="headerBase">
        <aside class="centradoEnMedio" >
            <img src="{% static 'imgs/Papirium_LogoCuadTxiki.png' %}" alt="Logo"
            height=220 width=220>
        </aside>
        <section>
            <h1 id="TituloPagina">
               {% block titleXD %} <b>Log In </b>{% endblock %} 
            </h1>
            

        </section>
        <section id="formS"> 
            <article id="formA">
                <form method="post" id="login">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" id="Iniciar">Iniciar sesion</button>
                </form>
            </article>
            
            <script>
                document.addEventListener("DOMContentLoaded",function(){
                    const campos=document.querySelectorAll(
                        "#login input[name='nombre'], " +
                        "#login input[name='email'], " +
                        "#login input[name='contrasenia']");

                    campos.forEach(campo=>{
                        campo.addEventListener("focusout",function(){
                            if(this.value.trim()==''){
                                this.style.backgroundColor = "#f8d7da";
                            } else{
                                this.style.backgroundColor = "";
                            }
                        });

                        campo.addEventListener("input", function(){
                            if(this.value.trim()!==''){
                                this.style.backgroundColor = "";
                            }
                        });
                    });
                });
            </script>

        </section>
        
    </header>

    {% block main %}
    {% endblock %}

</body>
</html>