{% extends "base.html" %}
{% block titleXD %} Precios {% endblock %}
{% block main %}
<!-- <h2>Filtro de libros menores de {{Prec_lib}} euros:</h2> -->
   
<form id="formPrecio" method="get" >
    <label for="inputPrecio">Indica un precio máximo:</label>
    <input id="inputPrecio" type="number" name="precio_max">
    <button id="buttonPrecio" type="submit"> Buscar por precio</button>
    
    <button id="buttonRefrescar" type="submit"> Refrescar</button>
</form>

<div id="mainPrecio" class="div_ListaLibros">
    {% for libro in Libros %}
        <div class="muestraLibros">
            <a href="{% url 'detalleLibro' libro.isbn %}">
            {% if libro.imagen %}
                <img class="fondo_libros" src="{{libro.imagen.url}}" alt="Sin imagen">
            {% else %} 
                <div>   
                    <p>Sin imagen</p>             
                </div>
            {% endif %}
            </a>
            <div class="libros_letras">
                <ul class="datosLibro">
                    <li><a class="Dtitulo" href="{% url 'detalleLibro' libro.isbn %}">
                        <span class="datosLibro">
                            <strong>{{libro.titulo}}</strong> 
                        </span>
                    </a></li>
                    <li class="datosLibro"> {{libro.autor}} </li>
                    <li class="datosLibro" id="Dprecio"> <strong>{{libro.precio}} €</strong></li>
                </ul>  
            </div>
        </div>
    {% endfor %}

</div>
    
    <script>
        const precioMax = document.getElementById('inputPrecio');
        const Libros = document.getElementsByClassName("muestraLibros");
        const BtnBuscar = document.getElementById('buttonPrecio');
        const BtnRefrescar = document.getElementById('buttonRefrescar')

        function buscarLibrosPrecioMax(event){ 
            event.preventDefault();                    

            for (let libro of Libros) {
                let precioStr = libro.lastElementChild.firstElementChild.lastElementChild.firstElementChild.textContent;
                               //div      section             ul                a               li
                let precioEnNums = precioStr.replace(/[^0-9.]/g, '');
                
                if ( parseFloat(precioEnNums)>parseFloat(precioMax.value)){ // los caros los ocultamos
                    libro.style.display = "none";
                }else{
                    libro.style.display = "grid";
                }
            };
        
        };

        function refrescarLibros(event){
            event.preventDefault();

            let Libros = document.getElementsByClassName("muestraLibros")
            for (let libro of Libros) {
                libro.style.display = "grid";
            }
            precioMax.value= ""
        };
        
        BtnBuscar.addEventListener('click', function(event){
            buscarLibrosPrecioMax(event);
        });

        BtnBuscar.addEventListener('mousemove', function(event){
            BtnBuscar.style.backgroundColor="#4b2308";
        });
        BtnBuscar.addEventListener('mouseout', function(event){
            BtnBuscar.style.backgroundColor="#884111";
        });

        BtnRefrescar.addEventListener('click', function(event){
            refrescarLibros(event);
        });
        BtnRefrescar.addEventListener('mousemove', function(event){
            BtnRefrescar.style.backgroundColor="#dbc5b5";
        });
        BtnRefrescar.addEventListener('mouseout', function(event){
            BtnRefrescar.style.backgroundColor="#fbede3";
        });


    </script>
     
{% endblock %}